[2017-07-23 22:25] aguestuser opened #5 "cannot click on friends/edit in firefox"
when visiting `admin/friends/`,in firefox, if i try to click the edit button on the righthand side of the first row, the browser does not register the click event and forward me to `admin/friends/4/edit` as the source code indicates it should.

![no-edit-click](https://user-images.githubusercontent.com/6032844/28503408-3ebf41ca-6fd4-11e7-92f6-17bf247032db.png)

[2017-07-23 23:08] #5 closed

[2018-05-27 19:16] CZagrobelny opened #58 "Adding rubygemset breaks document upload on Heroku"
I have a suspicion that this has something to do with heroku's asset pipeline.  These two gems are involved:
gem 'carrierwave', '~> 1.0'
gem 'carrierwave-aws'

I sent an invitation to the staging heroku app (frozen sea).  I was able to replicate the issue in this environment last week (on the Friend record, as either a volunteer or an admin, go to the Documents tab, create a new draft and attempt

[2018-05-27 22:56] CZagrobelny opened #60 "A Regional Admin Can Invite a Lawyer"
Database Changes:
Add a column 'remote_clinic_lawyer' (boolean) to the users table.

Feature:
A regional admin should be able to invite a user.  There is already a page for admins to invite normal users.  This should be a separate path that only regional admins can access, but can look the same (see views/devise/invitations/new).  In the regional admin version of this invitation form their should

[2018-05-27 23:01] CZagrobelny opened #61 "A Regional Admin Can View Lawyers"
A regional admin should be able to view a paginated list of all Users with the attribute 'remote_clinic_lawyer' set to true.  Use the admin/users/index.html.erb as a template.  The header should say 'Lawyers'.

[2018-05-27 23:06] CZagrobelny opened #62 "A Regional Admin Can Edit a Lawyer"
A Regional Admin should be able to edit a User where 'remote_clinic_lawyer' is set to true.  Use the admin/users/edit.html.erb form as a template.

[2018-05-27 23:09] CZagrobelny opened #63 "A Regional Admin Can Delete a Lawyer"
A Regional Admin should be able to delete a user record with the attribute 'remote_clinic_lawyer' set to true.  Use the delete dropdown option in the admin/users/index.html.erb as a template.

[2018-05-28 00:24] CZagrobelny opened #64 "ApplicationDraft Prerequisite Changes"
Currently, a Friend has many ‘ApplicationDrafts’.  We want to create an ‘Application’ model that has many ‘Drafts’ (rename current ‘ApplicationDrafts to Drafts).

The new applications table should have the following columns:
status (integer)
first_submitted_on (datetime)
approved_on (datetime)
friend_id (index)
category (string)

The drafts table should add the following columns:
application_id (i

[2018-05-28 16:19] CZagrobelny opened #65 "Regional Admin Views Friends with Active Applications"
In each section, 'Friends with Active Applications' and 'Friends without Assigned Lawyers', we display secondary headers for all non-primary communities in the region which have friends with active applications (for example 'Albany') to group our lists of friends by community.  This page is scoped to a specific region (a region has many communities).  The links on the friend name go to a detail pa

[2018-05-28 16:25] CZagrobelny opened #66 "Submitting for Review"
A community user or community admin can submit a draft for review.

If the Community is NOT primary, a Community Admin and a Community Volunteer can submit an application for review.
This is the current view for drafts.  It should stay the same for Primary communities.
For admin: views/admin/friends/_application_drafts.html.erb
For volunteers: views/application_drafts/index.html.erb
For non primar

[2018-05-29 01:53] CZagrobelny opened #67 "Regional Admin Assigns a Lawyer to a Friend"
Database Changes:
Add a LawyerFriend association table (join table between users and friends).

When a Regional admin views a Friend's application drafts, they should see a searchable multi select field below the application draft section to add lawyers for the Friend for application review.  See the bottom part of this mockup:

![mockup 3](https://user-images.githubusercontent.com/3056607/4093565

[2018-05-29 13:05] CZagrobelny opened #68 "A Regional Admin or Lawyer Can See Application Drafts for a Friend with an Active Application"
This is the Friend detail view for regional admins (linked to from the Friends with Active Applications index page).
A Lawyer can see this page if they have been assigned to the Friend.

Grouped by category with active application drafts, this view looks like:
![mockup 3](https://user-images.githubusercontent.com/3056607/40935889-864e63b4-6807-11e8-8a43-1ed402d5647b.png)

NOTE: only regional admin

[2018-05-29 13:14] CZagrobelny opened #69 "A Regional Admin or Lawyer Can Add a Review"
Database Changes:
Add a reviews table, which belongs_to draft.
The table should have a column 'notes' (text)

On the Friend detail page, a Regional Admin and a Lawyer will see a link to 'Add a Review' below each Application Draft (if the Regional Admin or Lawyer has not already created a review for that application draft).  When they click on 'Add a Review' they should be redirected to a form with

[2018-05-29 13:16] CZagrobelny opened #70 "A Regional Admin or Lawyer Can Edit Their Reviews"
When viewing the Friend detail page, the link 'Reviewed by [reviewer name] ([reviewer role])' will redirect the user to the review edit page (rather than the review show page) IF the user authored the review.
Add an edit form to allow Regional Admins and Lawyers to edit their reviews.

[2018-06-04 19:20] CZagrobelny opened #72 "Approving a Draft"
A regional admin or lawyer can approve a draft.  Only one draft for an application may be 'approved'.
When a draft is 'approved':
- the draft status is set to 'approved' and its parent application status is set to 'approved'
- an email notification is sent to the community users associated with the friend and to the community admins: '[Friend first name]'s [application type'] application draft was

[2018-06-04 19:24] CZagrobelny opened #73 "Closing an Application"
A regional admin only sees a button next to each application on a friend's detail page to "Close Application".

This action should set the application status to 'closed'.  If the friend does not have any other applications with a status that is NOT closed, we should remove all assigned lawyers.  There should be a js confirm.

[2018-06-04 19:27] CZagrobelny opened #74 "A Lawyer Views Assigned Friends"
When a lawyer logs in, they should be directed to an index page where they can view their assigned friends:
![mockup 4](https://user-images.githubusercontent.com/3056607/40938947-4e6502b4-6811-11e8-9ab9-57a051df9b54.png)

[2018-06-04 19:27] CZagrobelny opened #75 "Color Code Stages of Review"
Draft is Blue
Submitted for Review is Orange
Changes Requested is Deep Red
Approved is Green

[2018-06-15 23:13] PBeier commented on #75
I would like to work on it!

[2018-06-21 00:41] #74 closed

[2018-06-21 00:41] #73 closed

[2018-06-21 00:42] #72 closed

[2018-06-21 00:42] #70 closed

[2018-06-21 00:42] #69 closed

[2018-06-21 00:42] #68 closed

[2018-06-21 00:42] #67 closed

[2018-06-21 00:43] #66 closed

[2018-06-21 00:43] #65 closed

[2018-06-21 00:43] #58 closed

[2018-06-21 00:43] #60 closed

[2018-06-21 00:43] #61 closed

[2018-06-21 00:43] #62 closed

[2018-06-21 00:43] #63 closed

[2018-06-21 00:44] #64 closed

[2018-06-22 03:11] CZagrobelny commented on #75
@PBeier the prerequisite work for this is actually in a forked repo.  Long story short, we recently participated in a hack event called Ruby For Good.  This issue will help us finish up the work we started there and get the master branch of the fork merged back into the main repo.

This issue wound up in the wrong repo, but I added it to the other repo with much more context.  Since this is tagged

[2018-07-08 19:35] #75 closed

[2018-07-14 19:58] CZagrobelny opened #84 "Add specs for 'Adding a Review' functionality"
TODO:

- [ ] The community users associated with the friend and the community admins for the friend should receive an email notification: 'Review submitted for [Friend first name]'s [application type] application draft'
- [ ] Add feature spec for add draft review flow

[2018-07-14 19:59] CZagrobelny commented on #84
@Thomascountz is working on this issue (just moved it over from the RubyforGood repo)!

[2018-07-17 13:17] CZagrobelny opened #89 "Add specs for a lawyer/regional admin approving a draft"
Happy path feature spec:
When a lawyer or regional admin 'approves' a draft (click the approve button next to a draft and confirms in the js confirm)
- the draft status is :approved
- the draft's application status is :approved
- 'application_approved' email is sent
- the lawyer or regional admin sees a success message
- the lawyer or regional admin is redirected to the correct path

[2018-07-17 13:40] CZagrobelny opened #90 "Add specs for a Regional Admin 'closing' an application"
Happy path:
   A logged in regional admin viewing a friend with active applications (on this page:  https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/regional_admin/friends/show.html.erb) can 'close' an application. (by clicking on the 'Close [application name] Application' link next to the Application

1. When the application has other drafts with one of the following stat

[2018-07-17 13:54] CZagrobelny opened #91 "Feature: Family court hearings are capped at 3 volunteers"
Context: when we accompany our friends to Family Court, we need to cap volunteer attendance at 3 people. Note, accompaniment leaders who are attending should not count to the 3 volunteer limit.

Implementation:
'family_court' is a type of activity, and it is eligible for accompaniments. We should add a validation on the Accompaniment model to make sure that we don't create more than 3 accompanimen

[2018-07-17 13:59] CZagrobelny opened #92 "Feature: Require a js confirm for Community Admins deleting an Activity"
Community admins should see a JS confirm modal asking if they are sure they want to delete when they attempt to delete an activity.
This is the view where admins delete an activity:  https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/friends/activities/_activity.html.erb#L32

[2018-07-19 08:04] latazzajones commented on #91
@CZagrobelny I can pick this up if no one is working on it.

[2018-07-19 14:01] CZagrobelny commented on #91
@latazzajones that would be great!  Also as a heads up, in the next week or so, I'll be moving this repo to an organization account.

[2018-07-22 20:18] latazzajones commented on #91
To Do:
- [ ] validate only 3 accompaniments per family_court activity
- [ ] Add error message if user attempts to RSVP when there are already 3 accompaniments
- [ ] Hide the RSVP button on the volunteer accompaniments page ('/activities') if the viewer is not already attending and the limit is reached
- [ ] Volunteers already attending should see an 'Edit RSVP'
- [ ] Volunteers ('/activities') and

[2018-07-28 20:47] CZagrobelny opened #94 "Feature: Display a person icon on activity details in the Accompaniments calendar"
Context:  This is for the calendar that admins look at to see scheduled accompaniments.  Each accompaniment needs to have an accompaniment_leader attending, so it would be helpful for admins to see which accompaniments have leaders and which do not at a glance.

Request:  To the right of the check mark icon which is conditionally displayed on the Accompaniments calendar, ADD a person icon that wil

[2018-07-28 20:56] CZagrobelny opened #95 "Feature: Add the number of accompaniment volunteers to the activity display on the Accompaniment calendar"
Context: This is for the calendar that admins look at to see scheduled accompaniments. Admins need to make sure that we have enough volunteers signed up for each accompaniment, so it would be helpful for admins to see the number of volunteers signed up for each activity at a glance.

Request:  Immediately after the link that includes the type of activity and name of the friend, ADD the number of v

[2018-08-03 16:24] hwigmore commented on #92
@hwigmore

[2018-08-03 16:27] lisavogtsf opened #96 "Clarify nesting of Postgres instructions"
At WSC2018 I got confused about which postgres instructions applied to me or not. I suggest someone look closer and provide a cleaner way to understand those instructions.

If I want to use the Postgres.app, how do I create my user? Should I just use psql instead? etc.

[2018-08-03 16:30] acatxnamedvirtue commented on #95
I'll grab this one :)

[2018-08-03 16:30] chenyejia commented on #94
Hi, can you assign me to this issue? :)

[2018-08-03 16:31] brookeangel commented on #90
Hi! If no one is working on this issue yet, I'd love to take it!

[2018-08-03 16:38] CZagrobelny opened #97 "The Admin Friends index page should have a link to edit on the Friend's name"
When logged in as an admin viewing the Admin Friend index page, the first and last name of each friend should link to the Admin Friend edit page.

[2018-08-03 16:38] katleiahramos commented on #97
I'll take this one!

[2018-08-03 16:47] hwigmore opened #98 "Activity not showing up after initial failed save attempt"
Steps to Reproduce:
- Log in as Community Admin
- Go to Activities
- Create Activity
- Fill out all fields except one of the required ones (e.g., Type)
- Click Save, see error about missing required field
- Update your form to provide missing field's information
- Click Save
- Activity is now saved in the database but will not appear on your calendar (even after refresh / cache clear)

@CZagrobeln

[2018-08-03 16:48] enyuhsu commented on #89
I'll take this one!

[2018-08-03 16:57] lisavogtsf opened #100 "Add guidelines for commit messages"
A suggestion that you add guidelines for contributors about preferred ways to write commit messages to keep them regular.

One suggestion, using imperative: https://chris.beams.io/posts/git-commit/

[2018-08-03 17:00] CZagrobelny opened #101 "Locations should be displayed in alphabetical order"
We have lists of locations (scoped to region) used throughout the app.  We want to always order these locations by name alphabetically.

Searching for region.locations will help  you find a lot

[2018-08-03 17:01] katleiahramos commented on #101
On this one!

[2018-08-03 17:11] CZagrobelny opened #102 "Filter friends by created_at date range"
An admin viewing the Admin Friends index page should see an Advanced Search option to filter the Friends by created_at date.

[2018-08-03 17:18] acatxnamedvirtue commented on #95
Opened PR #103 for this

[2018-08-03 17:33] lisavogtsf opened #107 "Clarify instructions for contributing"
Mention that you need to fork.
Reorder so you've made a pull request before trying to look at Circle CI.

[2018-08-03 17:33] lisavogtsf commented on #107
I'm working on this :)

[2018-08-03 17:34] CZagrobelny opened #108 "Add unit tests for Review and Draft"
For Review
- add a unit test to cover this method: authored_by?(user)

For Draft
- add a unit test to cover this method: status_string

[2018-08-03 17:35] acatxnamedvirtue commented on #98
I'll take this one

[2018-08-03 17:48] acatxnamedvirtue commented on #98
I created three events the way you described above:

One event was for tomorrow: This one actually showed up immediately.

One event was for today an hour ago: This one did not show up. I'm thinking this is probably intentional, since no other previous activities in the DB show up

One event was for today in the future: This one did not show up, I'll investigate

[2018-08-03 17:55] #97 closed

[2018-08-03 17:57] acatxnamedvirtue commented on #98
Ahh, okay, so the "Type" must be one of the "NON_ACCOMPANIMENT_ELIGIBLE_EVENTS" to show up on the activities calendar. That is, it must be one of these:

filing_asylum_application
asylum_granted
filing_work_permit
detained
guardianship_requested
sijs_special_findings_form_finished
sijs_application_submitted
sijs_granted
sijs_denied
change_of_venue_submitted
foia_request_submitted
foia_recieved

[2018-08-03 17:58] acatxnamedvirtue commented on #98
@CZagrobelny as long as this behavior is intended, I think we can close this issue. If it is not intended, please advise what the behavior should actually be and I'll implement it

[2018-08-03 17:58] CZagrobelny commented on #98
@acatxnamedvirtue that is totally it!  Thank you for identifying that, I will close the issue!

[2018-08-03 17:58] #98 closed

[2018-08-03 18:14] CZagrobelny commented on #107
Thank you @lisavogtsf, this has been merged!

[2018-08-03 18:14] #107 closed

[2018-08-03 18:16] hwigmore commented on #98
ah! thanks @acatxnamedvirtue for digging into this! sorry for the false alarm.

[2018-08-03 18:20] #95 closed

[2018-08-03 18:21] CZagrobelny commented on #95
@acatxnamedvirtue, your PR looks great, thank you!!!

[2018-08-03 18:32] GabiOC opened #111 "Unclear that 'Close Asylum Application' link is a link"
The 'Close Asylum Application' link on the regional admin friends show page (https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/regional_admin/friends/show.html.erb#L12) is confusing because it appears to be regular text but is actually a link. We should update it to be styled the same as the other links to ensure users know what it is.

**Screenshot**
<img width="1076" alt=

[2018-08-03 18:37] RunsWithBackpack commented on #102
Hey there! I just submitted a PR for this here: https://github.com/CZagrobelny/new_sanctuary_asylum/pull/112

Let me know if anything needs to be changed or of there's anything else I can do!

[2018-08-03 18:42] #94 closed

[2018-08-03 19:08] CZagrobelny opened #114 "Specs: Add unit tests for methods on Friend model"
Methods that need a unit spec:
- name
- ethnicity

[2018-08-03 19:10] CZagrobelny opened #115 "Specs: Add unit tests for method on Detention model"
Method to Test:
- display_case_status

[2018-08-03 19:50] CZagrobelny commented on #92
Merged!  Thank you @hwigmore !

[2018-08-03 19:50] #92 closed

[2018-08-03 21:45] GabiOC commented on #114
I can take this one @CZagrobelny !

[2018-08-16 23:28] #89 closed

[2018-08-16 23:34] #115 closed

[2018-08-16 23:35] #114 closed

[2018-08-17 00:11] #101 closed

[2018-08-17 01:15] GabiOC commented on #111
Hi @CZagrobelny , it looks like this is assigned but if no one's working on it, I can take it!

[2018-08-17 18:13] CZagrobelny commented on #111
@GabiOC that would be great!  I think I only put the assigned label on it because I think we talked about you taking it, I don't remember, it's a blur.  But it's all yours!  Thank you!

[2018-08-18 15:39] CZagrobelny opened #120 "BUG: Friend search submission broken on ipad"
The problem:
On this friend search form: http://localhost:3000/communities/nyc/admin/friends
On a laptop, the user is able to hit enter on text search and the search form is submitted, but on an iPad Air iOS 8.3, the form is not submitted on enter.  I have confirmed this with a free browserstack account.

Some background:
We have some javascript listening for keycode 13 and submitting the form con

[2018-08-23 23:06] CZagrobelny opened #121 "Feature: An admin can note which users have 'Attended Training'"
Background:  We have trainings on an ongoing basis for the pro se clinic and NSC admins want a checkbox on the user record to indicate that they have attended a training.

Database Changes:
- Add a column 'attended_training' to the users table (boolean)

Feature:
- On the admin user form, a Community Admin/Regional Admin should be able to edit a checkbox for the attended_training attribute.

[2018-09-03 20:53] #100 closed

[2018-09-03 20:59] CZagrobelny commented on #91
@latazzajones merged! Thank you!!!

[2018-09-03 20:59] #91 closed

[2018-09-03 21:16] CZagrobelny opened #123 "Feature: User 'filterrific' gem for User filtering"
Background:
We have received a bunch of new requests from NSC for filtering on both the Users and Friends index (when logged in as a community admin).  At the moment, our advanced search is custom, and adding new advanced search features takes a good amount of development time.  Also, due to a javascript hack, there are issues with search on ipads...which is not ideal.

Solution:
I have been looki

[2018-09-03 21:16] #120 closed

[2018-09-03 21:43] CZagrobelny commented on #96
@lisavogtsf made some changes to the postgres instructions, thanks for adding this!

[2018-09-03 21:43] #96 closed

[2018-09-03 23:08] CZagrobelny commented on #102
@RunsWithBackpack just merged!  Thank you for your work on this!

[2018-09-03 23:08] #102 closed

[2018-09-26 00:44] halfghaninne commented on #121
@CZagrobelny -- I'd love to take this ticket on if that's alright with you! I have blocks of time to work on this on Wednesday, Friday, and over the weekend.

[2018-09-30 19:59] #84 closed

[2018-09-30 20:54] CZagrobelny opened #126 "Add a 'Public Notes' field on Activities"
Background:
Accompaniment Eligible 'Activities' (for example a Master Calendar Hearing or a Check In) are viewable for the upcoming 2 weeks by our volunteers.  It would be helpful to display public-facing notes to provide the volunteers with any additional information they need.

Database Changes:
Add a public_notes column (text) to the Activities table.

Implementation:
Allow admin to edit a publ

[2018-10-08 19:21] halfghaninne commented on #121
Thanks, @CZagrobelny ! An update -- I've run into a ruby versioning issue on my machine that's evading me (and rbenv). I'll let you know if I can't move past it and make meaningful progress by the end of this work week.

[2018-10-09 12:49] CZagrobelny commented on #121
thanks @halfghaninne!  Happy to look at the ruby versioning issue if you aren't able to move past it this week!

[2018-10-11 01:37] LizPrescott commented on #123
Hi! I think I could do this one! Would this also replace the textacular gem and move some of the code from the Search class into maybe a User scope?

[2018-10-11 18:08] CZagrobelny commented on #123
@lizprescott, I just took a look back at the docs and my instinct is to implement it pretty much exactly as they suggest first...ie. make no changes to the Search model...rather we would simply not use the Search model (using this instead).  We want to make no accidental changes to the Friend filtering at this time, which will be simpler if we don't touch textacular or Search model functionality.

[2018-10-13 14:40] CZagrobelny opened #130 "Fix intermittent test failures on volunteer/accompaniment leader specs"
The specs:  https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/spec/features/volunteer/accompanying_friends_spec.rb
https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/spec/features/accompaniment_leader/viewing_and_reporting_on_accompaniments_spec.rb

The problem:
When volunteers and accompaniment leaders view and RSVP for upcoming accompaniments, they view these accompani

[2018-10-13 15:01] CZagrobelny opened #131 "Cap accompaniment eligible activities"
Background
At the moment, we limit the number of accompaniments for activities that have the event attribute 'family_court'.  We want to be able to set a cap on accompaniments for activities with other types of events as well.

Implementation
We need to refactor the existing 'family_court' accompaniment cap so that is easily extensible to all accompaniment eligible activities.  I would propose mov

[2018-10-19 22:36] #130 closed

[2018-10-30 15:30] halfghaninne commented on #121
@CZagrobelny Thanks for your patience with me...I've been tied up with some exciting job things! I'm still stuck on this versioning issue. I just tried to re-clone the repo and the problem persists:

<img width="558" alt="screen shot 2018-10-30 at 11 25 13 am" src="https://user-images.githubusercontent.com/9288982/47729580-ce29f100-dc36-11e8-8d1a-fdacc27cdbcc.png">
<img width="523" alt="screen sho

[2018-10-31 13:55] CZagrobelny commented on #121
@halfghaninne definitely!  I could do a video chat to debug Friday before like 4:30pm or sometime Sunday during the day if one of those options work well for you.  Thanks!

[2018-10-31 13:56] CZagrobelny commented on #121
Just leaving this here as a note to self for when we start debugging: https://github.com/bundler/bundler/issues/4260

[2018-11-01 21:53] CZagrobelny commented on #121
sweet! @halfghaninne does 4pm work for you?

[2018-11-02 14:04] halfghaninne commented on #121
Yes, just sent you a calendar invite (I had a personal email for you from Rails Bridge)!

[2018-11-05 04:14] CZagrobelny opened #135 "Fix 'Assigned Friends' field for Regional Admins editing a Remote Clinic Lawyer"
Context:
We assign 'remote clinic' lawyers to friends so that they can view documents for the friend and add notes/instruction for the team filling out the documents remotely.  I have not documented the remote clinic flow yet, so it may be helpful to pair and talk through the flow before starting the story so that you know how to navigate to view these fields and what data needs to be in place.

T

[2018-11-07 14:34] CZagrobelny opened #136 "User can use password reset if they don't remember their old password when prompted to change password"
We are using a Devise configuration to force every user to change their password every 3 months. Inevitably, many do not remember their old password when they go to change it...so they are stuck and I have to help them individually.

Would be AMAZING if they could simply do password reset (which we link to from the login page) to reset their password in this circumstance.  Password reset does not

[2018-11-08 16:20] rsl commented on #136
about to look into this

[2018-11-09 15:49] rsl commented on #136
PR completed: https://github.com/CZagrobelny/new_sanctuary_asylum/pull/137

[2018-11-09 19:03] rsl commented on #135
work done on https://github.com/CZagrobelny/new_sanctuary_asylum/pull/138

[2018-11-11 22:11] CZagrobelny commented on #135
@rsl thank you!!!  Merged!!!

[2018-11-11 22:11] #135 closed

[2018-11-11 22:12] CZagrobelny commented on #136
@rsl merged!  It works great, thank you so much for this!  I am SO looking forward to not getting all these emails about not being able to change passwords, this is really a dream!  You're the best ❤️

[2018-11-11 22:12] #136 closed

[2018-11-20 15:09] CZagrobelny opened #139 "Add new volunteer types"
We want volunteer types to include French interpreter, Creole interpreter, K'iche' interpreter
They are defined here: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/models/user.rb#L13
The problem is that volunteer roles are enum.  We may add more types of interpreters after this, so enum is probably not the best choice.  Maybe we should switch to using strings for these.

[2018-11-23 22:49] Pchao93 commented on #108
I'd like to claim this issue, but when I created a feature branch to push up, I am getting a 'permission denied' error.

[2018-11-24 19:47] CZagrobelny commented on #108
@Pchao93 my apologies, I thought I had updated the Contributing instructions to specify that everyone needs to fork the repo.  Updating it now.  If you haven't forked a repo to contribute before, here are some instructions:  https://guides.github.com/activities/forking/
In the past, when I have a branch ready without realizing I needed to fork the repo, I've used the following quick fix:
1.  Fork

[2018-11-25 15:42] CZagrobelny commented on #108
@Pchao93 this has been merged!  Thank you so much for your work on this and for also fixing up the failing tests!

[2018-11-25 15:42] #108 closed

[2018-11-25 18:34] CZagrobelny commented on #131
@yeti-detective thank you for laying it out like this, it is super helpful!
I am realizing, additionally, that the new table should also have a boolean 'accompaniment_eligible'.  That way we can leverage the association between an activity and activity_type (and the 'has_one' relationship you mentioned is exactly what I had in mind) to get activities that are either accompaniment_eligible or non_a

[2018-11-25 22:47] CZagrobelny opened #141 "Add Potential Sponsor Fields to Friend Record"
*Background*
When our Friends cross the border, some will have a sponsor waiting for them on the other side.  If not, we will look for a sponsor in the Friend's destination state.  We want to add some fields to the Friend record for this information.

*Implementation*
Add columns to friends table:
sponsor_name (string)
sponsor_phone_number (string)
sponsor_relationship (string)

We should add fiel

[2018-11-25 22:52] CZagrobelny opened #142 "Add 'State' to Friend Record"
Background
We need to record which state our friends plan to settle in once they cross the border in order to connect them with resources and support in that state.

Implementation
Add a 'state' (string) column for the friends table.
I think we should store states in the database using their two letter abbreviations. Then we use a mapping of the two letter abbrev to the full state name to display

[2018-11-25 22:54] CZagrobelny opened #143 "Add New Categories for 'Applications'"
We need to add the following categories for 'Applications':
intake
humanitarian_parole
identifying_document
privacy_waiver

https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/models/application.rb#L2

[2018-11-25 22:58] CZagrobelny opened #144 "Add New Activity Event: 'Border Crossing'"
We need to add a new event, 'border_crossing', to 'ACCOMPANIMENT_ELIGIBLE_EVENTS'. This will allow us to schedule border-crossing accompaniments.
https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/models/activity.rb#L2

[2018-11-25 22:59] CZagrobelny opened #145 "Add 'Border Crossing Status' to Friend Record"
Background
We want field to quickly see whether our friends are waiting to cross the border or have successfully crossed

Implementation
Add a database column 'border_crossing_status' (string) to the friends table.
Add a dropdown to edit this on the 'Basic' tab of the Admin Friend edit form below the 'Date of Entry' field. The options for the dropdown should be: 'Ready to Cross', 'Successfully Cro

[2018-11-26 03:45] yeti-detective commented on #131
Ok, I think if I just create a migration file & use ActiveRecord to iterate through Activities, setting the 'activity_type_id' to the matching `activity_type` then future devs will get the same effect in their databases when they run `db:migrate`

I'm pretty sure that's right.

[2018-11-27 21:49] Robertfarb commented on #142
Working on this!

[2018-11-28 02:12] Robertfarb commented on #142
Pull Request Submitted!

[2018-11-28 03:07] CZagrobelny opened #147 "Remote Clinic Lawyers should see phone numbers for all volunteers with access to the Friend"
*Background*
Remote Clinic Lawyers may need to contact volunteer team members with questions while they are reviewing the application, so we want to display their phone numbers.

*Implementation*
Display the phone numbers of each of the volunteers who worked on the draft here:  https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/remote_clinic/friends/show.html.erb#L19

[2018-11-28 04:30] CZagrobelny opened #148 "Transfer Users to a Different Community"
Regional admins should have the ability to transfer users between the communities in their regions. The immediate use case is that we will have a number of volunteers who currently have user accounts in the NYC community (NY region) traveling down to the border to assist with the border clinic. We want to 'transfer' their user account to the community they will be working in at the border (ie. cha

[2018-11-28 04:39] CZagrobelny commented on #142
@Robertfarb that's fantastic!  Thank you, will check out the PR tomorrow!  Thanks!

[2018-11-28 14:40] CZagrobelny opened #149 "All Email Notifications Sent In Remote Clinic Review Flow Should Contain a Link Directly to the Appropriate Page"
We want to include a link to the appropriate page in the following mailer methods:

ReviewMailer
*review_needed_email* => remote_clinic_friend_path(user_id: user_id, id: friend_id)
*lawyer_assignment_needed_email* => regional_admin_region_friend_path(region, friend)
*changes_requested* => community_friend_path(community.slug, friend)
*application_approved* => community_friend_path(community.slug,

[2018-11-29 04:39] CZagrobelny opened #150 "Require Remote Clinic Lawyers to Sign Limited Scope of Liability Before They Can Review A Friend's Applications"
*Background*
It is imperative that we have a 'limited scope of liability' release signed by the Friend and the Remote Clinic Lawyer before the remote clinic lawyer begins working with the Friend.  Here is a video walk through of how the remote clinic functionality works right now, for context:  https://www.youtube.com/watch?v=hENKsdBYWEw

*Implementation*
I think we want something along the lines

[2018-11-29 15:09] CZagrobelny commented on #150
@rsl adding you to this issue!

[2018-11-29 15:10] CZagrobelny commented on #141
@rsl is taking this one!

[2018-11-29 22:18] halfghaninne commented on #145
Happy to take this on. Can give it high priority and quick attention.

[2018-11-30 03:04] CZagrobelny commented on #141
Merged, thank you!

[2018-11-30 03:04] #141 closed

[2018-11-30 03:37] CZagrobelny commented on #150
@rsl I think we need to implement this without any sort of e-signature.  Without knowing that we have the funds and with just two weeks until they have the clinic up and running, the organization is not in a place to decide to use a SaaS e-signature.  In a couple months, they may be able to make that decision, but for now, I think we need to move ahead with implementing it without.

[2018-12-01 18:48] CZagrobelny commented on #148
@davidmiller11 is working on this.  Just leaving a note, so I can keep everything straight!

[2018-12-01 18:49] CZagrobelny commented on #144
Need to wait until this issue is complete: https://github.com/CZagrobelny/new_sanctuary_asylum/issues/131

[2018-12-01 18:49] CZagrobelny commented on #121
@halfghaninne deployed!  Thanks!!!

[2018-12-01 18:49] #121 closed

[2018-12-02 00:43] kidatsy commented on #126
I'll take a looky-see at this one, too.

[2018-12-02 03:59] CZagrobelny commented on #143
@kidatsy thank you, this looks great!  Merging!

[2018-12-02 04:00] #143 closed

[2018-12-02 15:17] dave05974 commented on #148
@CZagrobelny I have a new username now :).

[2018-12-02 21:30] CZagrobelny commented on #131
Hi @yeti-detective !  I'm checking in with everyone who has an assigned issue to get a sense of eta for delivery, do you think you'll have time to get a PR ready for this issue by the end of the week (Sat.  Dec. 8)?  Thanks!

[2018-12-02 22:32] lavaturtle commented on #147
@CZagrobelny I'll take a look at this one.

[2018-12-03 00:58] CZagrobelny opened #157 "Display a flash message alerting volunteers that there are more accompaniments next month"
*Background*
We are now using simple_calendar to display accompaniments for volunteers to sign up, which has been a huge UI improvement.  However, when we get toward the end of the month, volunteers don't always realize that there are more accompaniments on the 'Next' month.

*Implementation*
Accompaniments are displayed to volunteers and accompaniment leaders two weeks at a time (we have some spe

[2018-12-03 04:36] #147 closed

[2018-12-04 23:31] jmkoni opened #158 "Add feature specs for Draft functionality"
Right now, we have the ability for someone to [upload a draft](https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/drafts/_form.html.erb) to a specific friend record. There are two separate paths when you click 'Submit for Review' on a draft that we need to test:

- IF a remote clinic lawyer has been assigned to the friend, they will get notified
- IF a remote clinic lawyer h

[2018-12-04 23:50] CZagrobelny commented on #145
@halfghaninne sorry, I completely missed this notification 5 days ago!

[2018-12-05 00:54] yeti-detective commented on #131
Hi @CZagrobelny yes. I think I'm pretty near to closing this one. I was just on hiatus for the last week.

[2018-12-08 02:35] kidatsy commented on #149
I can take a stab at this.

[2018-12-08 17:35] CZagrobelny commented on #149
@kidatsy that would be awesome, thank you!  Marking it as 'assigned'!

[2018-12-08 20:05] CZagrobelny commented on #145
@halfghaninne let me know if you have capacity/want to work on this issue this week.  Thanks!

[2018-12-09 16:38] latazzajones commented on #123
@LizPrescott Do you want to pair on this?!?! I'm wrapping up replacing search in the friend model with filterrific. Let me know if you want to coordinate time and we can chat about it in slack.

[2018-12-10 02:04] LizPrescott commented on #123
Yes!!!! What is your schedule like in the evenings this week?

[2018-12-11 04:20] CZagrobelny commented on #150
@rsl this is so great!  Merging and deploying!  Thank you a million!!!

[2018-12-11 04:20] #150 closed

[2018-12-11 16:34] halfghaninne commented on #145
@CZagrobelny also missed the notification 😂  I will have the capacity to work on this between Friday and Sunday.

[2018-12-11 16:40] CZagrobelny commented on #145
@halfghaninne sweet!  We can check in Friday, see if it's still there.

[2018-12-12 03:38] #144 closed

[2018-12-12 03:50] #145 closed

[2018-12-15 01:41] halfghaninne commented on #157
I'd love to take this on.

[2018-12-18 04:03] CZagrobelny commented on #131
@yeti-detective merged and deployed!  Thank you so much for your work on this, it's hugely appreciated!

[2018-12-18 04:03] #131 closed

[2018-12-19 14:46] CZagrobelny commented on #111
Closing this because we plan to have a UX review of all the new functionality in the coming month.

[2018-12-19 14:46] #111 closed

[2018-12-20 17:36] latazzajones commented on #123
Task list:

- [ ] Implement for Friend search
- [ ] Add pg_search to start replacing textacular
- [ ] Implement for User search
- [ ] Replace all use of the Search class with pg_search

[2019-01-13 13:58] lavaturtle commented on #158
@CZagrobelny I can work on this.

[2019-01-14 01:57] latazzajones opened #169 "Address Flappy Specs"
There are some feature specs that are inconsistant on circle ci. See this build: https://circleci.com/gh/CZagrobelny/new_sanctuary_asylum/688?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Also - we should explore replacing FFaker with Faker since the latter is a much more robust library and addresses some of the causes of failures around uniqueness.

[2019-01-14 14:18] CZagrobelny commented on #158
Thanks @lavaturtle!  Marking as assigned!  Let me know if you have questions, I anticipate that the uploading a file aspect of this will be challenging, I looked at it in the past, but didn't come up with a solution.

[2019-01-18 00:05] latazzajones commented on #139
@CZagrobelny can I take this?

[2019-01-18 01:47] CZagrobelny commented on #139
@latazzajones I may close this one.  I think we need to re-evaluate the volunteer role options more, I need to check in with NSC about it...we've talked in the past about getting more detailed information from volunteers and/or letting them pick multiple languages or indicate that they know 'a little bit' of a language.  I am meeting with them on the 28th to start talking about the 2019 software p

[2019-01-18 01:52] latazzajones commented on #139
Cool - ya, my initial thoughs on this were to pull the types out into their own table which aligns with that. Let me know.

[2019-01-18 14:50] CZagrobelny commented on #149
@kidatsy thank you for this!  Merged the PR a while ago, but forgot to close the issue!

[2019-01-18 14:50] #149 closed

[2019-01-26 15:15] jmkoni commented on #169
I'm going to create an issue to replace FFaker with Faker.

[2019-01-26 15:16] jmkoni opened #171 "Replace FFaker with Faker"
Issues with Faker have been resolved and, at this point, it is far more robust that FFaker as pointed out in issue #169. Let's replace it!

[2019-01-28 19:10] jmkoni opened #174 "Update gems, ruby, and rails versions"
Let's keep everything up to date so we don't have a huge headache on major version changes!

[2019-01-29 00:40] CZagrobelny opened #175 "Add outcome_of_hearing to Accompaniment Report"
Accompaniment leaders are able to add/edit an accompaniment report for the activities they attend.  We want to add a new text field on this report 'outcome_of_hearing'.

Here is the view file for the accompaniment report form: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/accompaniment_leader/accompaniment_reports/_form.html.erb

We also want to update the display of th

[2019-01-29 03:44] CZagrobelny opened #176 "Allow accompaniment leaders to add new Activities"
## Background
After an accompaniment, the Friend will often be given a date for their next court hearing or check in with ICE.  We want the accompaniment leader to be able to add this new date as an 'activity' for the Friend.

## Implementation
Accompaniment leaders need to be able to add new activities for the friends they accompany.

Below the 'Accompaniment Leader Notes' section in the accompan

[2019-01-29 04:11] CZagrobelny opened #177 "Make Judge and Location drop downs searchable"
We now have too many Judges and Locations and need to use the chosen js searchable dropdown rather than a normal dropdown.

Should just be a matter of finding all the collection_select for judges and locations, adding the class 'chzn-select' to each of them, and verifying that the change worked.

[2019-01-31 14:51] CZagrobelny commented on #171
Merged and deployed!  Thanks @jmkoni !!!

[2019-01-31 14:51] #171 closed

[2019-02-01 02:50] CZagrobelny opened #179 "Add Jail ID for friends"
### Background
When friends are detained, we need to be able to store the id number they are issued by the jail.

### Implementation
- Add jail_id (string) to friends table
- Allow an admin to edit the jail_id for a friend (https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/friends/_detention_form_fields.html.erb#L12)
- Display jail_id on friend show page (https://gith

[2019-02-01 03:24] CZagrobelny opened #180 "An admin user can search friends by id"
We want community admin users to be able to search for a friend by their 'id' (ie. the 'id' column on the friends table).   This is the view containing the search fields:  https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/friends/_search_friends.html.erb
I think we should place this field where the 'Detained' filter is currently.  The detained filter can get moved dow

[2019-02-01 04:04] CZagrobelny commented on #175
@latazzajones if you want to take this one!

[2019-02-01 20:10] latazzajones commented on #169
example of strange failure: https://circleci.com/gh/CZagrobelny/new_sanctuary_asylum/714?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-02 12:52] latazzajones commented on #175
- [ ] Add column to table
- [ ] Add field to form
- [ ] Update view admin/activities/_activity.html.erb and admin/friends/activities/_activity.html.erb
- [ ] Change "Accompaniment Leader Notes" to "Report Back" in codebase

[2019-02-04 00:46] latazzajones commented on #169
Better example of flapping specs https://circleci.com/gh/CZagrobelny/new_sanctuary_asylum/727?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-04 17:04] latazzajones commented on #169
https://github.com/CZagrobelny/new_sanctuary_asylum/pull/186 attempts to deal with rspec ./spec/features/volunteer/accompanying_friends_spec.rb We'll see how it goes.

There are a couple other specs that are flapping in https://circleci.com/gh/CZagrobelny/new_sanctuary_asylum/727?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link. We can address those after we see i

[2019-02-06 15:09] CZagrobelny commented on #175
Merged and deployed! Thank you!!!

[2019-02-06 15:09] #175 closed

[2019-02-06 15:33] latazzajones opened #187 "Should the Attending and Availability Notes Show up on past activities"
I'm cleaning up `app/views/accompaniment_leader/activities/_accompaniment_modal.html.erb` a little bit before working on issue https://github.com/CZagrobelny/new_sanctuary_asylum/issues/176 and have a couple of questions:

1. Do we want the "Attending and Availability Notes" fields to show up if an activity is past?
2. Do  we want to show the "Add a Report Back/Edit my Report Back" link if the act

[2019-02-06 15:59] CZagrobelny commented on #187
@latazzajones
1. The attendance data is helpful for admins, availability notes aren't used too frequently, but I think it's worth keeping them there for consistency
2.  Yes, occasionally the volunteer who is calling all of the friends before their accompaniments, will use the report back to add a note.  It doesn't happen that often, but it could throw them off if we changed it.

That being said, I

[2019-02-06 16:01] latazzajones commented on #187
@CZagrobelny 👍 sounds good. I'm gunna close this and leave the modal more or less as is then just add a link so the leader can add an activity.

[2019-02-06 16:01] #187 closed

[2019-02-12 14:34] CZagrobelny commented on #176
@latazzajones thank you!!!  Merged and deployed!

[2019-02-12 14:34] #176 closed

[2019-02-18 13:35] acaporrini commented on #179
@CZagrobelny I made a PR for this, thank you

[2019-02-18 21:01] #179 closed

[2019-02-19 23:54] latazzajones opened #191 "Add link to friend profile to past accompaniments."
As an admin viewing past activities, I would like to be able to click on a friends name to view their profile in another tab.

[2019-02-19 23:59] latazzajones opened #192 "Sort the user index in a more useful way."
As an admin viewing the user index page, I would like it to be sorted by date with the most recent first. It is currently sorted by the most recent last.

[2019-02-23 19:01] CZagrobelny commented on #174
Merged these updates!

[2019-02-23 19:01] #174 closed

[2019-02-23 20:23] CZagrobelny opened #194 "Monthly email to keep everyone updated on New Sanctuary and Upcoming Work!"
Hey everyone!  I (@CZagrobelny) am planning to start a monthly email round up for current/past contributors to the New Sanctuary software.

First, I want to share the impact of the work with all of you.  The NSC staff send out weekly emails describing our friends' victories and moments of solidarity that really made an impact.  Hearing about these things is pretty sustaining for me, so I want to s

[2019-02-23 20:32] CZagrobelny commented on #194
Hey New Sanctuary contributors! Quick note for you ^^ @rsl, @freen, @kidatsy, @adamesj,  @ashag, @robbiethegeek, @benhayehudi, @aepyornis, @zluo16, @Robertfarb, @Pchao93, @scooter-dangle, @chippy-kennedy, @seanmarcia, @jperkelens, @simonft, @halfghaninne, @acatxnamedvirtue, @chenyejia, @katleiahramos, @szeidman, @acaporrini, @yeti-detective, @lavaturtle, @enyuhsu, @brookeangel, @hwigmore, @JeremyP

[2019-02-23 20:34] CZagrobelny commented on #194
^^ also @Thomascountz @latazzajones @jmkoni I already have your emails, though :D

[2019-02-27 15:43] CZagrobelny opened #195 "Devise password reset configuration change"
If a user who has not created an account (either they have no user account OR they have been invited but have not accepted the invitation and officially 'created' their user account) attempts to login, we should display a flash error message letting them know that they do not yet have an account.  At the moment the flash message says 'Invalid Email or Password'.
<img width="1051" alt="Screen Shot

[2019-03-01 15:33] rsl commented on #192
i peeked in to this and it seems to be sorting `created_at desc` on `Admin::UsersController#index`. is there a different page i should be looking at?

[2019-03-01 16:24] CZagrobelny commented on #192
@rsl that's the right page...I'm interested if it can be re-created locally.  Here is a screenshot of part of the users table on production:
<img width="106" alt="screen shot 2019-03-01 at 11 22 06 am" src="https://user-images.githubusercontent.com/3056607/53651344-76b38600-3c14-11e9-941b-68e456b7fbec.png">
In addition to these not being in order, there were definitely users created this week and

[2019-03-01 16:40] rsl commented on #192
aha. i hadn't rebased that one on upstream yet. the filterrific changes must have changed what's there. easy peasy.

[2019-03-03 18:30] CZagrobelny opened #201 "On Admin accompaniment calendar, display detained Friend activities in RED"
On Admin accompaniment calendar, accompaniment-eligible activities should be displayed in red IF the Friend is 'detained'.

## Implementation
This is the admin Accompaniments view:  https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/activities/accompaniments.html.erb
If the friend associated with the activity has a status: 'in_detention', then the link for the activity

[2019-03-03 18:35] CZagrobelny opened #202 "Improve Event Attendance UI"
1.  Display numbers [1-the total number of friends/volunteers attending] in a column next to the names of those attending.  This will allow us to quickly see how many people are attending each event.
2.  The names of Friends and Users in the table should link to the admin edit pages for the Friend or the User.  This will allow admins to navigate directly to the record from the attendance page.

##

[2019-03-03 18:45] CZagrobelny opened #203 "Admins can filter Users by Role"
We want admins to be able to filter users by 'role'.  They should see a role dropdown containing a list of our role options (note: these are different for primary and non-primary communities), selecting a role should display only the users assigned to that role.  Ee are using the filterrific gem for filtering.  This is the admin users index page: https://github.com/CZagrobelny/new_sanctuary_asylum

[2019-03-19 02:34] CZagrobelny commented on #180
@rsl thank you!  Merging and deploying!

[2019-03-19 02:34] #180 closed

[2019-03-19 02:34] CZagrobelny commented on #192
@rsl thank you!  Merging and deploying!

[2019-03-19 02:34] #192 closed

[2019-03-23 21:15] CZagrobelny opened #205 "Admin should be able to 'unconfirm' activities"
## Background
For accompaniment eligible activities (court dates, check ins), when the date is coming up, admins will call EIOR and make sure the court date/check in is still on at the scheduled time.  EIOR frequently cancels/reschedules court dates without notifying our Friends, so this is an important step.

## Feature
Sometimes admins 'confirm' an activity accidentally and there is no way to 'U

[2019-03-24 14:39] CZagrobelny commented on #191
@rsl merging and deploying this work, thank you!

[2019-03-24 14:39] #191 closed

[2019-03-24 14:39] #194 closed

[2019-03-28 22:40] CZagrobelny opened #206 "Track ‘intake date’ for Friends and allow admins to sort Friends by this date"
## Background
We need to be able to keep track of when Friends went through intake so that admins can sort by this date when putting together the cohorts for clinic.

## Implementation
- [ ] Add a new datetime column on Friends called ‘intake_date’
- [ ] An admin should be able to add/edit the ‘intake’ date on the ‘Clinic’ tab of the Friend edit page (we should use a javascript date picker, that s

[2019-03-28 22:42] CZagrobelny opened #207 "Track ‘must be seen by date’ for Friends and allow admins to sort Friends by this date"
## Background
When Friends go through intake, we need to be able to track if there is an upcoming deadline in their immigration case that requires them to come to clinic by a specific date.  When putting together the cohorts, we want to be able to sort by this date so that we can catch Friends whose date is coming up.

## Implementation
- [ ] Add a new datetime column on Friends called ‘must_be_se

[2019-03-28 22:46] CZagrobelny opened #208 "An admin can add/edit intake notes for a Friend"
## Background
When Friends go through intake, we need to be able to add notes about the Friend’s case.

## Implementation
- [ ] Add a new text column on Friends called ‘intake_notes’
- [ ] An admin should be able to add/edit the ‘intake_notes’ field on the ‘Clinic’ tab of the Friend edit page.  Put this field at the top under an ‘Intake’ header.
- [ ] This info does NOT need to be displayed on the

[2019-03-28 22:47] CZagrobelny opened #209 "An admin can track ‘Clinic Wait List Priority’ for Friends and Filter/Sort Friends by ‘Clinic Wait List Priority’"
## Background
When we transition our weekly pro se clinic to assign Friends to a specific cohort, this waiting list prioritization system will be used by admins in selecting Friends for a cohort.

## Implementation
- [x] Add a new integer column ‘clinic_wait_list_priority’ to the Friends table (integer so we can use enums…which should allow us to sort Friends by priority order 🤞)
- [x] An admin sh

[2019-03-28 22:58] CZagrobelny opened #210 "Allow admins to sort Friends by 'date of entry'"
## Background
Date of entry is an important factor in prioritizing Friends for placement in clinic cohorts because asylum applications must be submitted within one year of their date of entry to the United States.

## Implementation
On the Admin Friends index page, add the following sorting options/functionality to the sorting dropdown:  ‘Date of Entry (Ascending)’, ‘Date of Entry (Descending)’

N

[2019-03-29 01:53] CZagrobelny opened #211 "An admin can assign Friends to a ‘cohort’ for Clinic"
**NOTE:  There's a lot in here, and the functionality is difficult to describe, we should talk through this feature if you are interested in implementing it**

## Background
NSC is changing their pro se clinic to schedule friends to be part of a ‘cohort’ that starts on a specific date.  We need a way to assign Friends to a cohort.

## Implementation
A 'cohort' has a start date. 'cohorts' should ha

[2019-03-30 01:59] #139 closed

[2019-03-31 22:35] emi1337 commented on #201
I can take this one while I ramp up!

[2019-04-01 02:33] CZagrobelny commented on #201
@emi1337 Thank you so much, just deployed!  They will be thrilled to have this, Janice was following up about it last week!

[2019-04-01 02:33] #201 closed

[2019-04-01 02:41] CZagrobelny commented on #209
@latazzajones would you be able to take this issue?

[2019-04-01 05:06] emi1337 commented on #203
I can do this one!

[2019-04-01 05:26] emi1337 commented on #205
I can do this

[2019-04-01 12:09] CZagrobelny commented on #205
@emi1337 merged and deployed!  Thank you, Sara will be so stoked to have this!

[2019-04-01 12:09] #205 closed

[2019-04-01 12:11] CZagrobelny commented on #203
@emi1337 thank you so much for knocking this out, it's so useful for them in auditing user permissions!

[2019-04-01 12:11] #203 closed

[2019-04-01 13:33] emi1337 commented on #202
I can take this next!

[2019-04-01 13:50] latazzajones commented on #209
@CZagrobelny I can pick it up tonight.

[2019-04-02 05:18] emi1337 commented on #202
Hey @CZagrobelny I was looking over the notes here and can't quite figure out where you want the attendance numbers to be. Can you send a screenshot or something?

You say " in a column next to the names of those attending", but the UI doesn't make sense with what I think that means.

In the table next to the names here doesn't make sense as each row is just one person:
<img width="1137" alt="Scre

[2019-04-02 12:21] CZagrobelny commented on #202
@emi1337 yes! Sorry for the confusing description, I remember writing this issue now and describing that part was challenging.  Here's an image!
<img width="612" alt="55377911-0a62c580-54e5-11e9-9b11-2ae42d281c76" src="https://user-images.githubusercontent.com/3056607/55401988-49fad300-5520-11e9-9c90-598c1a80f838.png">

[2019-04-02 21:26] emi1337 commented on #202
ohhh, i see! thanks tons :D got it!

[2019-04-02 22:47] emi1337 commented on #210
Can take this one!

[2019-04-03 00:14] lavaturtle commented on #158
I've finally submitted a PR for this. Sorry this took so incredibly long! I'll make sure next time I claim something that I can actually finish it quickly.

[2019-04-03 00:47] emi1337 commented on #177
I'm on this too!

[2019-04-03 22:59] CZagrobelny commented on #158
@lavaturtle thank you!!!  This is amazing, merged!  It will be so helpful to us in writing future specs as well!  Thank you!!!

[2019-04-03 22:59] #158 closed

[2019-04-03 23:01] CZagrobelny commented on #202
@emi1337 merged and deployed! Thank you!  This will make life easier for Sara, Melissa, and the volunteers checking Friends in at clinic!

[2019-04-03 23:01] #202 closed

[2019-04-04 13:08] CZagrobelny commented on #177
Thank you @emi1337 !  Merged and deployed!!!

[2019-04-04 13:08] #177 closed

[2019-04-07 21:04] CZagrobelny commented on #211
I'm working on this one.

[2019-04-07 21:58] CZagrobelny commented on #209
@latazzajones do you think you'll have time to complete this one by the end of next weekend?  The FA All Staff retreat is this week, so am in no rush to get it sooner than end of next weekend.

[2019-04-09 13:02] CZagrobelny commented on #209
This issue is available to pick up.

[2019-04-10 00:11] emi1337 commented on #208
I can take this :)

[2019-04-10 01:22] emi1337 commented on #207
Can take these 2 next!

[2019-04-10 01:22] emi1337 commented on #206
Can take these 2 next!

[2019-04-10 02:50] emi1337 commented on #209
I can take this next :)

[2019-04-10 12:51] CZagrobelny commented on #210
@emi1337 QA'd and merged, everything is looking great!  THANK YOU!

[2019-04-10 12:51] #210 closed

[2019-04-10 12:51] CZagrobelny commented on #208
@emi1337 thank you!  QA'd and merged!

[2019-04-10 12:51] #208 closed

[2019-04-10 12:52] CZagrobelny commented on #207
@emi1337 thank you for knocking both of these out, this is so exciting!  QA'd them both and they work great!  You are the best!!!

[2019-04-10 12:52] #207 closed

[2019-04-10 12:53] CZagrobelny commented on #206
@emi1337 thank you!!!!

[2019-04-10 12:53] #206 closed

[2019-04-16 23:22] emi1337 commented on #209
Okay this is done now! Sorry I had some delays--my computer had to be taken in by the Apple folks "genius bar" so I was out of commission for the a while.

[2019-04-17 23:56] #211 closed

[2019-04-17 23:59] CZagrobelny commented on #209
Thank you @emi1337 !  This is merged and deployed along with the other PR of mine that I had hanging out there for a while, meaning that we made it across the finish line of our new clinic structure sprint! 🎉 🏆 Thank you so much for all of your work to make this happen! ❤️

[2019-04-17 23:59] #209 closed

[2019-05-17 23:48] CZagrobelny opened #222 "Move 'Manage Documents' button to the top of the 'Documents' tab"
This is on Admin Friend Edit, 'Documents' tab.  Having this button at the top of the 'Documents' tab will make data entry more efficient.

[2019-05-17 23:49] CZagrobelny opened #223 "Change Friend 'Status' Options"
Remove 'Green Card Holder' as a 'status' option for Friends
Add 'Deported' as a 'status' option for Friends

[2019-05-17 23:53] CZagrobelny opened #224 "Remove Routes Without a Corresponding Controller Method"
These wind up throwing an exception which I get via Airbrake when a user hits them :/  Would be better for that user to just hit a 404 and not trigger an Airbrake!

[2019-05-17 23:58] CZagrobelny opened #225 "Remove Report Functionality"
The reporting functionality is currently broken.  I have ultimately decided that we should remove it.  The reporting requests I get for grant purposes are usually varied and can rarely be solved with the reporting functionality as we originally imagined it.  It is also an area of the code that we would want to refactor if we were to keep it, and I don't see that being worth the time in the next ye

[2019-05-21 22:36] CZagrobelny opened #227 "Wrap 'submit_for_review' and 'approve' contents in a transaction block"
This line should be wrapped: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/controllers/drafts_controller.rb#L67

And this one: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/controllers/drafts_controller.rb#L79

[2019-05-21 22:43] CZagrobelny opened #228 "Audit requests that are 'get' but should actually be 'post'"
One example is 'confirm'/'unconfirm' for activities.  As a starting point, would be good to pull together a list of links to them in github.

[2019-05-22 13:25] rsl commented on #228
- `DraftsController#submit_for_review`
- `DraftsController#approve`
- `Admin::ActivitiesController#confirm`
- `Admin::ActivitiesController#unconfirm`
- `Admin::Friends::ActivitiesController#confirm`
- `Admin::Friends::ActivitiesController#unconfirm`
- `RegionalAdmin::ApplicationsController#close`

[2019-05-22 14:02] #225 closed

[2019-05-22 14:02] CZagrobelny commented on #223
Merged and deployed!  Thanks @emi1337 !!!

[2019-05-22 14:02] #223 closed

[2019-05-22 14:03] CZagrobelny commented on #222
Thanks @emi1337 !  Merged and deployed 🙌

[2019-05-22 14:03] #222 closed

[2019-06-03 14:18] CZagrobelny commented on #224
Merged!  Thanks @rsl !

[2019-06-03 14:18] #224 closed

[2019-06-04 15:27] rsl commented on #228
is this actionable for editing yet? i don't wanna jump the gun on it but just saw it again.

[2019-06-04 15:40] CZagrobelny commented on #228
@rsl totally!  Thanks!

[2019-06-08 20:46] yeti-detective commented on #195
Hi CZ, I'v been out of the picture for a minute, but wanted to see if I could jump back in. Is this issue still ongoing? I tried going to "forgot password" from the login screen, putting in a fake email, clicking the 'Send me...' button & got this:

![fake email dev](https://dl.dropbox.com/s/h8fr1cijpwqllwt/emailNotFound.png?dl=0)

[2019-06-11 13:15] CZagrobelny commented on #195
@yeti-detective yay!  It's been a while since I added this issue, so I don't remember everything about the original reports of the issue.  You're right, the password reset one does display a message about the account not existing.
I'm going to edit the issue to focus on the login page, because I do remember getting confused/frustrated emails about that.  I had help off on changing the login behavi

[2019-06-12 12:19] yeti-detective commented on #195
@CZagrobelny got it. I'll take up this issue on the login page, then. Do you want to just split up the messages to "invalid email address" if they're using an email address that isn't in the user table and "invalid password" if the email is valid, but the password is wrong?
Or we could be more explicit like, "No user account with that email address"

[2019-06-12 12:55] CZagrobelny commented on #195
@yeti-detective I think "No user account with that email address" if the email isn't in the users table!  And the current error message 'Invalid Email or password' can stay in place for cases when the password is invalid.  Thanks!

[2019-06-12 12:56] CZagrobelny commented on #169
@latazzajones closing this, since I haven't seen much flapping in the past couple months! Thank you!!!!

[2019-06-12 12:56] #169 closed

[2019-06-14 23:52] CZagrobelny opened #235 "Hosting Readme Image [Not a real issue]"
<img width="1159" alt="how to get notifications" src="https://user-images.githubusercontent.com/3056607/59544168-df7df000-8edd-11e9-9699-6dc26a1c8cf0.png">

[2019-06-14 23:53] #235 closed

[2019-06-27 22:53] CZagrobelny commented on #195
@yeti-detective merged!  Thank you so much for this, will make it much easier to figure out what they need to do to sign up for accompaniments!

[2019-06-27 22:53] #195 closed

[2019-06-27 23:17] rsl commented on #227
hey @CZagrobelny i suspect this method could use a transaction too https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/controllers/reviews_controller.rb#L18

[2019-07-05 19:12] CZagrobelny opened #239 "Prevent Data Entry Users from Editing User Roles"
## Context
Users with the role 'data_entry' can be assigned 'access time slots'.  During an access time slot, they have access to most of the admin functionality.  We do not want them to be able to edit the roles of other users, however.  ONLY admins should be able to do that.

## Implementation
1.  We want to hide the role dropdown for data entry users: https://github.com/CZagrobelny/new_sanctuar

[2019-07-06 13:38] CZagrobelny commented on #228
Merged!  Thank you!

[2019-07-06 13:38] #228 closed

[2019-07-06 13:38] CZagrobelny commented on #227
Merged, thank you!

[2019-07-06 13:38] #227 closed

[2019-08-04 14:32] CZagrobelny opened #240 "Activities vs Accompaniments confusion"
As a logged in admin, I want to better understand which 'Activities' have an ActivityType that is 'accompaniment eligible'.
Couple changes to help:
1.  On the activity form, in the dropdown for the 'activity type', note in parenthesis when the activity type is 'accompaniment eligible'
2. On the admin Friend edit form's "Activities" tab, separate different types of activities under their own header

[2019-08-04 14:58] CZagrobelny opened #241 "Permissions Audit [NOT AN ISSUE]"
## Roles
Volunteer
Accompaniment Leader
Remote Clinic Lawyer
Data Entry
Community Admin
Regional Admin

## Controller Permissions

**Accompaniment Leader:: (require_accompaniment_leader, require_access_to_community, require_primary_community)**
	**Friends::ActivitiesController**
	AccompanimentReportsController
	ActivitiesController
	FriendsController (require_accompaniment_leader_access)

**Admin:

[2019-08-05 20:51] CZagrobelny opened #242 "Customize User Invitation Email with Community Name"
## Background
The application is multi-tenant, and we want the user invitation email to better reflect that.

## Implementation
Each community has a 'name' that distinguishes them, and we want these names displayed in the subject and body of the user invitation email.  When a user is created, they belong to a specific community.
Body of invitation email is here: https://github.com/CZagrobelny/new_

[2019-08-08 16:41] CZagrobelny opened #243 "Add EOIR case status"
## Background
Accompaniment program staff would like to be able to save an EOIR case status for a Friend.  This is the status of their immigration case, and knowing this information helps staff quickly assess how high-risk an accompaniment (to a court hearing or check-in with ICE) is.

## Implementation
- [ ] Add a new string column eior_case_status to the friends table
- [ ] An admin should be ab

[2019-08-08 16:54] CZagrobelny opened #244 "Admins can search for Friends by phone number"
## Background
NSC Admins want to be able to search for a Friend record by a phone number.

## Implementation
We have a number of filtering options on the Friends index page (https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/friends/index.html.erb).  We want to add a text search field for phone # search in a new row above "1 year asylum application deadline ending betw

[2019-08-08 20:56] CZagrobelny opened #245 "Volunteers can select the languages they are fluent in"
## Background
Rather than asking users to identify as 'English Speaker' or 'Spanish interpreter' at account creation, can we ask users to list language(s) in the same way we can list languages for our Friends? (In my ideal world, this means when we see Sherry Kane signed up for an accompaniment next to her name we see "English, French, Spanish") - and could we maybe include "conversational Spanish

[2019-08-15 01:00] CZagrobelny opened #246 "Admins in primary communities see accompaniment attendance represented in a line graph"
## Background
We would love to show users of the software how much work their community is doing!  We'll start by showing a graph of accompaniment attendance to admins!

## Implementation
ChartKick is a gem to create beautiful js charts with one line of Ruby: https://github.com/ankane/chartkick

This line graph should be titled 'Accompaniments', and should have two lines:
- 'Friends Accompanied' (

[2019-08-15 01:15] CZagrobelny opened #247 "Admins can bulk invite users"
## Background
Following trainings, NSC staff have to copy-paste and submit 150 email addresses individually.  It would be incredible if we could add them all at once!

## Implementation
Rather than making changes to existing invitation functionality, we're thinking a 'bulk invite' feature....something along the lines of:
1.  Admins upload a csv (only need to read one column, just emails)
2.  We va

[2019-08-15 14:04] CZagrobelny opened #248 "Admins can see a volunteer's 'Accompaniment History'"
## Background
Admins would like to be able to see a history of a user's accompaniments!

## Implementation
On the admin user edit page (https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/users/edit.html.erb), we want a new header below the 'Has access to Friend records:' header with the text 'Accompaniment History'.

Below this header, we should list every Accompanimen

[2019-08-15 14:59] CZagrobelny opened #249 "Admins can track ankle monitors"
## Background
When our Friends are monitored electronically with an ankle monitor, we want to track this in the same way that we track Detentions for Friends.

## Experience Level
I've labeled this issue as beginner-friendly because we have an existing similar feature that can provide an example for how to implement the feature.  The scope of these changes is a little larger than I would normally

[2019-08-18 18:15] CZagrobelny opened #250 "UX Improvements: Regional Admins switching between different communities"
## Goal
1.  Make it clear to the Regional Admin which community they are currently viewing
2.  Make switching between communities a little easier
Video with more context is here:  https://drive.google.com/open?id=1wM-RVYT14X9Z-xoMNyvi5GI-hOvAWFpY

## Implementation
- [ ] Add the community name into the top header after New Sanctuary Coalition to make the community clearer
- [ ] Add a nested drop d

[2019-08-18 18:27] sansbrina commented on #242
I'd love to pick this one up!

[2019-08-18 18:30] nancyhawa commented on #247
I'd like to take this on!

[2019-08-18 18:46] tmaria17 commented on #243
I'd like to work on this issue!

[2019-08-18 18:49] nancyhawa commented on #239
Hey, @CZagrobelny I'd like to work on this issue today!

[2019-08-18 19:32] lindsaycooper commented on #245
I'd like to work on this issue

[2019-08-18 19:39] CZagrobelny commented on #245
@lindsaycooper sweet, thank you so much!

[2019-08-18 21:54] mgalicer commented on #248
I'll take this on!

[2019-08-21 04:27] nancyhawa opened #255 "#update tests not working as expected"
I think it may be that the controller tests for #update methods aren't working as expected.  For example, in [spec/controllers/admin_access/users_controller_spec.rb ](https://github.com/CZagrobelny/new_sanctuary_asylum/blob/5811997252d9fba38d0c14cccc0806cc4d6197ae/spec/controllers/admin_access/users_controller_spec.rb#L29) we've got this test:
[code]

This creates the user, then sets the users fir

[2019-08-28 21:17] CZagrobelny commented on #243
Hi @tmaria17 👋 !  Checking in to see if you were currently working on this/have capacity to complete it at this time.  It is fine, if not, it can go back in the pool and there will always be more issues if you have more time to pick up an issue later :)  Thanks!

[2019-08-28 21:31] #242 closed

[2019-08-28 21:33] CZagrobelny commented on #248
Hi @mgalicer 👋 !   Checking in to see if you were currently working on this/have capacity to complete it at this time. It is fine, if not, it can go back in the pool and there will always be more issues if you have more time to pick up an issue later :) Thanks!

[2019-08-28 21:47] CZagrobelny commented on #242
@sansbrina thank you so much for this!  We were losing volunteers in one of our clinics because they didn't recognize their community name in the email, so having this customization means a lot less confusion and more volunteers!

[2019-08-29 06:06] tmaria17 commented on #243
Hi @CZagrobelny ! Sorry you can put it back in the pool, I've been really busy with starting a new job but I hope to contribute soon! :)

[2019-08-29 13:06] CZagrobelny commented on #243
@tmaria17 of course!  Congrats on the new job! 🎉

[2019-08-29 14:28] droza0 commented on #243
I'd like to take this on! I just had two questions about tests and docker. Should I make them a separate issue?

[2019-08-29 14:38] CZagrobelny commented on #243
@droza0 @ me ('CZagrobelny') on this issue for any questions that are holding you up re: tests and docker.  For suggested improvements to docker or any of the documentation, create a new issue.  I think our docs could be a little clearer here, but Docker is optional and replaces installing Ruby, Rails, and Postgres.

[2019-08-29 14:42] mgalicer commented on #248
Sorry I won't have time to complete this, you should put it back in the pool! Thanks for checking in :)

[2019-08-29 14:47] droza0 commented on #243
@CZagrobelny great, I went ahead and used docker for this feature, wasn't sure if we could just build it using rake db:setup. On tests for this, I was thinking they should go in the feature folder, is that right? And if a new factory is needed (it doesn't look like it is for this particular issue) should we proceed with making it?

[2019-08-29 15:02] CZagrobelny commented on #243
@droza0 docker should have run rake db:setup and bundle install: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/docker-compose.yml#L20

When you run 'docker-compose -f docker-compose.yml up' (after building the docker image 'docker-compose -f docker-compose.yml build') you should have the app running at http://localhost:3000 with the seed data
Let me know if you encounter issues w

[2019-08-29 16:22] droza0 commented on #248
Would like to take this on as well!

[2019-08-29 19:46] droza0 commented on #248
@CZagrobelny just wondering about styling convention here. Should I let the history's style (likely without bullets) be a shared ul style, or should ul elements by default not have bullets?

Also, no tests for this one as well? If we should test, do we create a new user_with_accompaniments factory?

[2019-08-30 13:03] CZagrobelny commented on #248
@droza0 The bullets looks great!  This one is also ok with no tests.  The only thing I noticed in QA was could we '.titlecase' the activity type name?  Thanks!!!!

[2019-08-31 23:21] CZagrobelny opened #258 "Admins can search for a Friend by matches in the 'notes' field"
## Background
NSC Admins want to be able to search for a Friend record by matches in the 'notes' field.

## Implementation
We have a number of filtering options on the Friends index page (https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/friends/index.html.erb).  We want to add a text search field for phone # search in a new row above "1 year asylum application deadli

[2019-09-01 22:54] droza0 commented on #248
Titlecased! sorry that took a while!

[2019-09-02 16:52] CZagrobelny commented on #248
@droza0 thank you so much!  Merged and deployed! 🙌

[2019-09-02 16:52] #248 closed

[2019-09-03 13:11] CZagrobelny commented on #243
@droza0 thank you for working on this!  It will help staff determine the risk level of ICE check-ins quickly and is hugely appreciated!

[2019-09-03 13:11] #243 closed

[2019-09-05 13:38] CZagrobelny commented on #245
Hi @lindsaycooper 👋 !  Checking in to see if you were currently working on this/have capacity to complete it at this time. It is fine, if not, it can go back in the pool and there will always be more issues if you have more time to pick up an issue later :) Thanks!

[2019-09-05 14:32] lindsaycooper commented on #245
Hi @CZagrobelny. Thanks for checking in. I am swamped at work, catching up from being on vacation so I won't be able to give time to this for at least the next few of weeks. Happy to have it go back in the pool.

[2019-09-05 23:21] droza0 commented on #245
Hi @CZagrobelny, would like to take this on. Just two questions though:

1. How would I check the devise invitation to see if everything's good? I'd have to receive an invite right?

2. Are we removing the role field or the volunteer type field on the remote lawyers form?

[2019-09-06 00:02] CZagrobelny commented on #245
@droza0 yay!
1.  Yes, this is the view where the user fill in their account info from an invite: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/devise/invitations/edit.html.erb
And to QA, log in as the nyc_admin@example.com user, click on 'Users' in the header, then 'Invite User' button in the upper right.  When you 'invite a user' locally, you'll see the text of the ema

[2019-09-06 00:32] droza0 commented on #245
@CZagrobelny Great, the invitation has the right field, but for some reason the User's language isn't saving. I can't sort out where users actually get created (no create action in the user's controller), though I guess I'm missing something about how devise works?

Also, is volunteer type basically deprecated now? So we should remove it as a field as well as where it's displayed?

[2019-09-06 01:00] CZagrobelny commented on #245
@droza0 you are right, this coming from a gem 'devise_invitable', I can definitely share some context around what it's doing and how it's configured.
Here is the controller in devise_invitable: https://github.com/scambra/devise_invitable/blob/6825f296ad1da2761976d06b606d15a5dbf0289b/app/controllers/devise/invitations_controller.rb
However, we are overriding the 'create' method here:
https://github

[2019-09-06 03:40] droza0 commented on #245
@CZagrobelny  Got it, thanks so much for the info on how devise works! Next time I'll look more at docs for an issue before asking to take it on! Working on the pull request now.

[2019-09-15 21:10] CZagrobelny commented on #245
@droza0 thank you so much for your work on this! Just merged and deployed!

[2019-09-15 21:10] #245 closed

[2019-09-18 22:43] emi1337 commented on #244
I'll take this one!

[2019-09-18 22:44] emi1337 commented on #258
I can take this one too :)

[2019-09-19 01:52] bkuhlmann opened #264 "Fix Rubocop Issues"
## Overview

Would there be interest in fixing the Rubocop violations on this project and enforcing these checks as part of the CI build process? I ask because I'm having to manually push code that bypasses my Git Hook checks because the Rubocop check fails. :cry: ...but I'd rather let Git do all these checks for me so I don't have to work so hard. 😅

## Steps to Recreate

Run the following:

[cod

[2019-09-19 02:40] #240 closed

[2019-09-19 02:42] CZagrobelny commented on #258
Merged! 🙌 🙏

[2019-09-19 02:42] #258 closed

[2019-09-19 02:45] CZagrobelny commented on #244
Merged, deployed, notified staff! I've already heard from Melissa about how exciting this is 😀

[2019-09-19 02:45] #244 closed

[2019-09-25 14:51] CZagrobelny opened #266 "Add social work referrals to Friend records"
## Background
During the pro se legal clinic, social work interns are available to meet with Friends and may provide referrals to services for shelter, mental health, ESL, and food assistance.

## Experience Level
I've labeled this issue as beginner-friendly because we have an existing similar feature that can provide an example for how to implement the feature.

## Implementation
Admins would lik

[2019-09-27 23:29] #264 closed

[2019-10-01 17:44] sansbrina commented on #249
👋 I would be happy to pick this up!

[2019-10-01 17:57] CZagrobelny commented on #249
That's amazing, thank you @sansbrina!!!

[2019-10-02 02:30] CZagrobelny opened #270 "An admin can search for Users by phone number"
## Background
Would be really helpful for staff to be able to look for users by phone number.  In some cases, that's the only information we have to identify a specific volunteer.

## Implementation

We implemented search by phone number for Friends (for community admins), and it's been working great!  We should replicate this for work for Users.  We use the filterrific for search/filtering.  In t

[2019-10-03 00:18] CZagrobelny opened #271 "Admins can see who last edited activities"
## Background
Knowing who last edited an Activity would be really helpful to admins as they are preparing the activities for the week.  We are now accompanying Friends to 50-70 activities per week!

## Implementation

Database Changes:
- [ ] add a last_edited_by column to the activities table

When an activity is created/updated, the id of the logged-in user should be set as last_edited_by. There

[2019-10-03 00:59] CZagrobelny opened #272 "Admins can search for Friends with Activities in a time frame"
## Background
It would be really, really useful for NSC staff members to be able to filter Friends that had a specific type of activity occur in a time frame.  For example, when Accompaniment coordinators are looking at the accompaniment eligible activities for the month, they would love to get a list of all activities with the 'individual hearing' activity type, since these are high stakes and wi

[2019-10-03 01:29] CZagrobelny opened #273 "Allow admins to add individual notes to a Friend record"
## Background
The 'Notes' field on Friend has proven to be one of the most invaluable fields on the Friend record!  It often includes information that shows the history of a Friend's case, and when admins add onto the notes (it's a single field at this point), they date and initial their additions.  It would be EVEN better if this could be done automatically when individual notes are added.

## Im

[2019-10-03 01:30] CZagrobelny opened #274 "Admins can track/search Friends who have been invited to return to speak to a lawyer"
## Background
As the pro se legal clinic grows, staff are adapting clinic to make it run more efficiently and keep wait time down.  As staff identify Friends who aren't eligible to apply for asylum, but need to speak to a lawyer during the intake process, we want to track this so that they can be invited to return to speak to a lawyer.

## Implementation
As a community admin editing a Friend recor

[2019-10-14 14:24] CZagrobelny commented on #249
@sansbrina thank you so much for this!  I just merged and deployed the new functionality.

[2019-10-14 14:24] #249 closed

[2019-10-17 22:44] CZagrobelny commented on #274
I'm taking this one.

[2019-10-17 23:16] #274 closed

[2019-10-18 01:38] CZagrobelny commented on #272
Merging and deploying! 🙌 🙏

[2019-10-18 01:38] #272 closed

[2019-10-19 00:42] CZagrobelny opened #278 "Allow admins of non-primary communities to manage Lawyers for the region"
## Implementation
Right now, only admins of primary communities can manage Lawyers for the region.  We want admins of non-primary communities to be able to manage Lawyers for the region as well.  This should just be a matter of adjusting permissions and conditional logic.

[2019-11-10 01:00] CZagrobelny opened #280 "An admin can 'hide' Judges from the list"
## Background
Over the years, admins have added a lot of Judges to the software (these are associated with activities that are immigration court hearings).  There are a number of these judges that are no longer presiding in immigration court in NYC, so it would be helpful for admins to be able to 'hide' these judges from appearing in the judges index and judges dropdown menus.  We don't want to co

[2019-11-10 01:21] CZagrobelny opened #281 "An admin can track and filter for activities that have a TBD date"
## Background
Increasingly our Friends are being given TBD dates or a 'control date' for their next hearing.  This puts our Friends at great risk of missing a hearing if they don't receive notification in time.  We have had numerous close calls where our Friends get notified of their new hearing date only a day before their hearing or we only catch that they have been assigned a date by calling th

[2019-11-12 15:21] jnhooper opened #282 "difficulty getting docker running from a fresh pull"
When I pull down the repo and try to get up and running using docker for the first time I run into this error

<img width="912" alt="image" src="https://user-images.githubusercontent.com/8321632/68624283-7ad2bb80-04a4-11ea-9ccb-2649e8cb528a.png">

I believe this is an issue with not having access to the .ruby-version before running the bundler

[2019-11-12 15:22] jnhooper commented on #282
I think I have a quick fix for this, I'll fork and open a PR

[2019-11-12 15:27] CZagrobelny commented on #282
@jnhooper thanks so much!  This was a recent change to try to make it easier to keep the ruby version in sync, thank you for catching this issue with the docker set up!

[2019-11-12 16:39] jnhooper commented on #282
https://github.com/CZagrobelny/new_sanctuary_asylum/pull/283
here is a link to the PR, pretty small and its possible there's a `cooler` docker solution but this should fix the issue for the time being i think

[2019-11-13 20:53] #282 closed

[2019-11-13 20:54] jnhooper commented on #282
closing because it got merged in

[2019-11-13 21:08] patcoll commented on #280
👋 I've started to work on this

[2019-11-14 00:58] CZagrobelny opened #284 "An admin can leave 'reviews' on drafts of applications"
## Background
NSC's pro se clinic recently moved into a new long-term home.  Because it is not as close to the NSC office as the old clinic, we will no longer be able to transport the physical folders that contained notes on the team's work from week to week.  Instead, we'd like admins to be able to leave a review on individual 'drafts' of applications.

## Implementation
*NOTE: the checklist belo

[2019-11-14 22:01] parkjimin0 commented on #271
Jenina and I will pick this one up :)

[2019-11-14 22:02] jcgrayson commented on #271
Picking this one up with @parkjimin0

[2019-11-15 00:20] CZagrobelny commented on #280
@patcoll thank you for this PR!  I'll have a chance to review this weekend!

[2019-11-15 15:33] carodelafuente commented on #271
Working with @jcgrayson and @parkjimin0 on this.

[2019-11-15 15:39] RajdeepRao commented on #281
Hey @CZagrobelny planning on working on this one if that's okay?

[2019-11-15 15:45] JShelto commented on #246
Claiming this issue :)

[2019-11-15 15:59] halfghaninne commented on #273
I'm interested in this issue!

[2019-11-15 16:00] carodelafuente commented on #266
Claiming this one with @ombene

[2019-11-15 20:14] mrz1988 commented on #278
If I understand this correctly, this is managing `remote_clinic_lawyer` _user_ instances for the region?

[2019-11-15 20:18] CZagrobelny commented on #278
@mrz1988 it is different.  Sorry lawyer is one of the very confusing things.  This is the lawyers table.  I'm going to reach out in slack

[2019-11-15 20:29] #278 closed

[2019-11-16 14:12] CZagrobelny commented on #284
I'm planning to work on this one :)

[2019-11-19 23:31] #280 closed

[2019-11-20 00:00] CZagrobelny commented on #270
@MiHHuynh this has been merged and deployed!  Thank you so much, the NSC staff will be super excited to have this!

[2019-11-20 00:00] #270 closed

[2019-11-20 00:25] CZagrobelny commented on #266
Merged and deployed!  @carodelafuente and @ombene, thank you so much for your work on this! 🙌

[2019-11-20 00:25] #266 closed

[2019-11-20 00:58] CZagrobelny commented on #271
@jcgrayson , @carodelafuente, and @parkjimin0 merged and deployed!  Thank you so much for your work on this, the staff will be very, very excited to have the ability to keep track of this! 🙏

[2019-11-20 00:58] #271 closed

[2019-11-20 00:59] CZagrobelny commented on #255
@nancyhawa I'm going to put this one up for grabs, if you circle back to it, just drop me a note and I'll put the 'Assigned' label on it once more!

[2019-11-20 01:00] CZagrobelny commented on #247
@nancyhawa I'm going to put this one up for grabs, if you circle back to it, just drop me a note and I'll put the 'Assigned' label on it once more!

[2019-11-20 02:01] CZagrobelny commented on #246
@JShelto and @Keyairra-S-Wright thank you!  We tied up the loose ends and got this merged and deployed, the NSC staff will be very excited to be able to track these metrics week to week! 🙏

[2019-11-20 02:01] #246 closed

[2019-11-20 03:31] CZagrobelny commented on #281
@RajdeepRao and @jnhooper merged and deployed!  Thank you SO MUCH for all of your work on this feature! 🙏

[2019-11-20 03:31] #281 closed

[2019-12-24 18:30] CZagrobelny commented on #255
Completed!

[2019-12-24 18:30] #255 closed

[2019-12-29 22:11] #284 closed

[2019-12-29 23:16] CZagrobelny commented on #273
Merged and deployed! 🙌

[2019-12-29 23:16] #273 closed

[2020-01-11 17:50] sansbrina commented on #250
A couple initial thoughts:
1. Perhaps adding the community name into the top header after `New Sanctuary Coation` would help make the current community clearer?
2. A nested drop down would save clicks when switching but I'm not sure how nicely it would scale/how necessary the options in the table (community slug with the edit button) are to access or where they would go instead.

Just wanted to pu

[2020-01-13 03:25] CZagrobelny opened #302 "Track judge-imposed asylum application deadlines"
## Background
ICE has been fast-tracking deportations for families who cannot prove that they have lived in the US for more than a year.  They do this through the 'Family Unit Docket', which is a fast-track docket for deportation proceedings.  Ordinarily, asylum seekers have 1 year from when they enter the country to file an asylum application.  Judges in the 'Family Unit Docket' have started impo

[2020-01-16 21:33] CZagrobelny commented on #250
@sansbrina these are great suggestions!  Thank you for sharing them!  And they would certainly work well for the regions and communities we have so far.

[2020-01-18 03:06] CZagrobelny opened #303 "Add 'No Record in EOIR' and 'Order of Supervision' to Friend records"
## Background
Some of our Friends are in removal proceedings, but have not yet been added to EOIR's system ('Executive Office for Immigration Review').  Our Friends are not notified when they are added to EOIR, but once they are added, NSC can get their next hearing date by calling the EOIR hotline.  This is important because hearings get scheduled with very little notice, which puts our Friends a

[2020-01-19 02:47] joshco commented on #303
Still have work to do, but the filter checkboxes fit:
![image](https://user-images.githubusercontent.com/290314/72673683-ac7f7a00-3a33-11ea-8050-66c2bd31baac.png)

[2020-01-19 03:33] CZagrobelny opened #305 "Accompaniment Leaders can indicate if a Friend has a lawyer in their accompaniment report"
## Background
When accompaniment leaders file their 'report' following an accompaniment, it would be amazing if leaders could indicate whether the Friend has a lawyer. This could be an optional checkbox for "has a lawyer" followed by optional text box for lawyer name and contact info.  This would help us cut down on guesswork and lots of phone calls to folks with upcoming individual hearings (hear

[2020-01-19 04:01] joshco commented on #303
WIP:  Would prefer review before I create the PR (dont merge yet)
I think I've done the parts needed.  Can you take a look?
In the migration, I made the booleans have default false.

[2020-01-19 16:14] CZagrobelny commented on #303
@joshco I took a look at the branch, it is the changeset I was expecting and looks great!  Thank you for making the booleans default to false, it's something that hasn't been done consistently in this codebase over the past few years, but it's definitely the right call.

[2020-01-21 03:41] CZagrobelny opened #306 "Functionality for volunteers calling the EIOR hotline for updates on Friends' cases"
## Background

Increasingly, our Friends are having court dates scheduled with very short notice and we are seeing scheduling changes for court dates and check-ins that our Friends are not notified about.  As a counter measure, every week, we have a group of volunteers call the EIOR  hotline ('Executive Office for Immigration Review' to get updates on our Friends upcoming court dates, upcoming che

[2020-01-25 03:12] CZagrobelny commented on #303
Merged and deployed!

[2020-01-25 03:12] #303 closed

[2020-01-26 14:36] CZagrobelny opened #308 "Admins can indicate what a Friend is planning to work on at clinic"
## Background
In our pro se legal clinic, we schedule Friends to come to clinic using the ‘cohort’ functionality. It would be really helpful if NSC staff could also indicate what the Friend was coming to clinic to work on.

## Implementation
- [ ] add a `clinic_plan` (string) column to `friends` table
- [ ] Admin should a dropdown in the ‘Clinic’ tab of admin friend edit, under the Cohorts header

[2020-01-30 16:24] CZagrobelny commented on #306
Actually, now I'm thinking that 'eior_caller' should be it's own user role (like 'data_entry').  And 'eior_caller' users can only have an 'eior'-type access time slot created for them.

[2020-02-01 16:45] lavaturtle commented on #308
I'll do this one.

[2020-02-02 01:41] CZagrobelny commented on #308
Merged and deployed!  Thank you so much @lavaturtle, the staff will be so happy to have this feature to help organize clinic!!!

[2020-02-02 01:41] #308 closed

[2020-02-09 15:33] CZagrobelny opened #310 "Admins can filter for Friends who have an Activity with a specific Location or Judge"
## Background
Being able to search for Friends who have a an Activity with a specific ActivityType that occurs in a specific date range has been really helpful.  Building on that functionality, staff would like to be able to filter for all Friends who have an Activity with a specific Judge and/or at a specific Location.  This will help NSC staff track trends around case outcomes.  One request that

[2020-02-13 23:35] emi1337 commented on #310
i can do this!

[2020-02-17 03:18] #306 closed

[2020-02-17 03:23] #310 closed

[2020-02-27 02:33] CZagrobelny opened #315 "Remove Review Emails Sent to Regional Admins"
## Background
The 'review' emails for remote clinic that are sent to regional admins are not very helpful and we want to remove them.

## Implementation
The emails we want to no longer send are:
- [ ] Review needed: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/da7152d140730100549ea6bd9b75ead95af2ddeb/app/mailers/review_mailer.rb#L4
- [ ]  Lawyer assignment needed: https://github.com/CZ

[2020-02-27 02:45] CZagrobelny opened #316 "Highlight high-risk ICE check-ins with color coding"
## Background
NSC is now accompanying ~60 people each week in NYC.  When admins look at the accompaniment calendar, they want a visual cue to pick out the high-risk ICE check-ins.

## Implementation
Similar to the way we are making activities for Friends who are in detention display in red on the calendar (https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/activities/a

[2020-02-27 13:43] CZagrobelny opened #317 "Action Log for Remote Clinic Review"
## Background
Need a better system to keep track of everything that's happening in the remote clinic review flow!

## Implementation
Create a new table `remote_review_actions` with columns `action` (string, required), `friend_id` (required), `user_id`, `region_id` (required), `community_id` (required)

RemoteReviewActions
- belong_to friend (dependent: :destroy)
- belong_to community
- belong_to r

[2020-03-16 19:13] emi1337 commented on #316
I can take this tonight!

[2020-03-18 01:40] lavaturtle commented on #302
I can do this one!

[2020-03-18 16:49] CZagrobelny commented on #302
Thanks @lavaturtle !!! Marking it assigned!

[2020-04-01 11:18] CZagrobelny commented on #316
Wound up not picking this one up because we were focused on planning to run the pro se clinic remotely, so it's currently available.

[2020-04-04 16:42] boom100100 commented on #315
I can do this one.

[2020-04-04 23:44] CZagrobelny commented on #302
@lavaturtle merged and deployed!  Thank you so much for taking this on (including the refactor), this will make it so much easier to track the deadlines that are issued.

[2020-04-04 23:44] #302 closed

[2020-04-05 00:15] CZagrobelny opened #321 "Rename review states 'In Review' and 'Changes Requested'"
## Background
As we've been working more with the 'remote' clinic functionality, the review states that we are currently using have emerged a source of confusion.  After talking it over with staff, we came up with new names that we feel confident will be universally understood.

## Implementation
- Replace the review state 'in_review' with 'review_requested'
- Replace the review state 'changes_req

[2020-04-05 17:31] boom100100 commented on #315
This is just for the methods, right? I shouldn't do any changes to related layout files and tests?

[2020-04-07 00:33] CZagrobelny commented on #315
@boom100100 yes, we should also remove the tests for these methods and the view files (which can be found in here: https://github.com/CZagrobelny/new_sanctuary_asylum/tree/master/app/views/review_mailer)  Let me know if you have any other questions.  Thanks!

[2020-04-08 02:33] lavaturtle commented on #305
I'd like to take this on!

[2020-04-08 14:56] CZagrobelny commented on #305
@lavaturtle yay!  Thank you!!!!!

[2020-04-19 20:54] CZagrobelny commented on #315
@boom100100 merged!  Thanks so much for helping out with this!!!

[2020-04-19 20:54] #315 closed

[2020-04-19 21:23] CZagrobelny commented on #305
Merged!  Thanks so much @lavaturtle !!!!

[2020-04-19 21:23] #305 closed

[2020-04-20 23:30] CZagrobelny commented on #321
Merged!

[2020-04-20 23:30] #321 closed

[2020-04-21 00:20] rsl commented on #316
- add legend for colors
- update seed data to use names that follow current `ruby_case` convention
-  refactor https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/views/admin/activities/accompaniments.html.erb#L17 to use `content_tag`  and a helper for class instead of inlining conditional inside attribute assignment

[2020-04-21 01:50] emi1337 opened #327 "UX Improvements: Remote Clinic Lawyer View"
Right now the Remote Clinic Lawyer view is pretty much the same as the Regional Admin's view, but their needs are very different. Remote Lawyers sometimes need to be onboarded quickly or last minute and are really important, so we need this experience to be improved and with more education provided to help lawyers know where to take action.

[2020-04-21 02:11] emi1337 opened #329 "[Bug?] Remote Clinic Lawyer Can Add New Review, Which Unapproves Friend's File"
After approval, the following can happen:

A) [OK] Volunteer can add a new document. This does not change the status! This is probably good because if supplemental info needed to be sent along, it wouldn't necessarily mean we need to unapprove the whole thing.

B) [BUG?] Lawyers and Regional Admins can submit new reviews. This happens if there was a previous document that never had a review, or if

[2020-04-21 02:14] emi1337 opened #330 "Remote Lawyer Needs Doc Review to Have Upload Option"
Some lawyers prefer to make changes directly to the document and then re-upload. Right now the only review option is a text box. This involves a few sub-steps.

[] Backend change might be needed to have a document upload that doesn't have a state/need action, etc.
[] Add a file upload selector for the lawyers (and regional admins)
[] Figure out what the UI needs in order to display this in the mai

[2020-04-21 02:17] emi1337 opened #331 "UX Improvements: Regional Admin Table View"
Regional Admins might have pretty similar needs as the remote lawyers, so they could likely share some of the UI that was built for them. See issue: https://github.com/CZagrobelny/new_sanctuary_asylum/issues/327

If not sharing code, we could base designs roughly off of it:
<img width="1503" alt="Screenshot 2020-04-20 21 46 03" src="https://user-images.githubusercontent.com/1188988/79817981-ac558a

[2020-04-24 00:59] CZagrobelny commented on #327
Merged! 🙌

[2020-04-24 00:59] #327 closed

[2020-04-24 01:00] CZagrobelny commented on #250
Merged! 🙌

[2020-04-24 01:00] #250 closed

[2020-04-24 21:31] #317 closed

[2020-05-18 22:46] #329 closed

[2020-05-18 22:46] emi1337 commented on #331
working on this now~

[2020-05-19 00:29] #330 closed

[2020-05-19 01:10] CZagrobelny commented on #331
Thank you!  This looks awesome, merged!  🙌

[2020-05-19 01:10] #331 closed

[2020-06-15 22:24] rsl commented on #316
can you get me some sample activity types?

[2020-06-15 22:33] CZagrobelny commented on #316
special_accompaniment
check_in
high_risk_ice_check_in
criminal_court
bond_hearing
fingerprinting
filing_asylum_application
asylum_granted
filing_work_permit
detained
guardianship_requested
sijs_special_findings_form_finished
sijs_application_submitted
sijs_granted
sijs_denied
change_of_venue_submitted
foia_request_submitted
foia_recieved
I_130_sent
stay_of_deportation_filed
u_visa_filed
habeas_cor

[2020-06-16 02:31] #316 closed

[2020-08-19 13:32] CZagrobelny opened #345 "Replace Chosen with Select2"
## Background
We are upgrading to Rails 6, which includes some changes to the asset pipeline that break our chosen-rails gem.  We use it in a ton of dropdowns to make it easier for staff to search for options in a dropdown and select multiple elements in a dropdown.  Chosen is also deprecated (https://github.com/harvesthq/chosen), so we want to go ahead and replace it before we upgrade to Rails 6!

[2020-08-20 00:59] ysimonson commented on #345
I'm working on this! One issue I'm seeing is that select fields with empty entries (e.g. activity type) render slightly buggy - half the field is cut off:

<img width="395" alt="Screen Shot 2020-08-19 at 8 48 53 PM" src="https://user-images.githubusercontent.com/127386/90704513-b2a23700-e25e-11ea-9063-e4f812a217a0.png">

Observed on both FF and chrome for macOS. Is this something worth worrying ab

[2020-08-20 02:39] CZagrobelny commented on #345
@ysimonson yay!  I'm not quite understanding what it looks like with half the field cut off, I think the screenshot looks normal, but I might be missing something.  This also jogged my memory that we are doing something hacky with setting the width of these search filters in particular, and removing chosen would also have removed the hack: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/3

[2020-08-20 12:52] ysimonson commented on #345
That field that's selected in the screenshot is an empty text entry. Other fields (e.g. language selection when editing a person entry) don't have an empty text entry, and as a result don't have this issue.

Yeah I can fix the width thing!

[2020-08-20 13:19] CZagrobelny commented on #345
@ysimonson ah, that totally makes sense!  It seems that the move to select2 has uncovered an underlying issue with the some of the multi-select fields, which chosen js was covering up.  Any multi-select field, should not include the option `include_blank: true`.  So, on https://github.com/CZagrobelny/new_sanctuary_asylum/blob/323de57187f10abd7e0feee2ee265fb8e38fd157/app/views/admin/friends/_search

[2020-08-20 17:51] ysimonson opened #347 "Docker compose service fails to clean up pids on exit"
When running `make up`, I get this error:

[code]

Exiting `make up`, running `make down`, or running `make build` do not fix the issue. AFAICS the only workaround presently is to shell into the `web` service and manually remove the file.

[2020-09-17 01:44] #247 closed

[2020-09-17 01:45] #241 closed

[2020-12-19 19:44] CZagrobelny opened #365 "account lock down"
# Description
We would like a user to be able to 'lock down' their account without being authenticated.
At the path '/lockdown', there should be a form with an email field input and a submit button.
When this form is submitted, we should locate the user (trim whitespace and make sure the search is not case sensitive).  Then we should set a new, very strong password for the user in devise:
[code]
T

[2020-12-19 23:00] boom100100 commented on #365
@CZagrobelny What's the ideal controller / view pattern? I'm trying to figure out where to put this.

[2020-12-19 23:48] CZagrobelny commented on #365
@boom100100 good question, I'm thinking make a 'lockdown_controller' and in that controller we can have a 'new' action (the form page) and a 'create' action (posting the form).  This will allow you to use Rails resourceful routing (https://guides.rubyonrails.org/routing.html#resource-routing-the-rails-default).  The 'new' view file can go in a folder named 'lockdown', corresponding with the contro

[2020-12-20 00:34] boom100100 commented on #365
@CZagrobelny I'm having some trouble pushing my changes. Can I get access to push to a sub-branch?

`git push --set-upstream origin account_lock_down
remote: Permission to CZagrobelny/new_sanctuary_asylum.git denied to boom100100.
`

[2020-12-20 00:56] CZagrobelny commented on #365
@boom100100 you should be able to make a PR by forking the repo, this guide walks through the process of forking the repo and making a PR on the main project: https://guides.github.com/activities/forking/

[2020-12-26 22:36] CZagrobelny opened #372 "Improve Access Time Slot record keeping"
## Background
Currently, 'access time slots' can be edited and deleted by admins at any time.  We want to add some restrictions to make sure we have an accurate history while still allowing editing and deletion in some circumstances.

## Implementation
- If the time is *before* the start of an access time slot, an admin may edit or delete the access time slot.
- If the time is *after* the start of

[2020-12-26 22:52] CZagrobelny opened #373 "Alert regional admins when users are out of compliance with digital security policies"
## Background
All user with the role 'admin', 'data_entry', or 'eoir_caller' are required to have 2FA enabled and to provide written confirmation via email that they agree to the digital security policies.  To make sure everyone stays in compliance, we want to alert regional admins with a daily email that lists any users who do not meet this criteria so they can follow up with the users individual

[2020-12-27 00:10] CZagrobelny commented on #365
Merged!  Thank you so much for your work on this @boom100100 !

[2020-12-27 00:10] #365 closed

[2020-12-27 00:24] CZagrobelny opened #374 "Alert regional admins when a user account is locked down"
## Background
Users have the option to lock down their account in an emergency.  If they do, we'd like to notify all the regional admins for the user's region.

## Implementation
Here is the lock down method: https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/models/user.rb#L191
We want to send an email to the regional admins for the user's region to notify them that a user has lo

[2021-01-10 17:10] lavaturtle commented on #372
I'd like to work on this one!

[2021-01-11 14:23] CZagrobelny commented on #372
@lavaturtle yay, thank you!!!!  Marking it assigned, and please let me know if you have any questions.  Thanks!

[2021-01-20 23:36] CZagrobelny opened #375 "Allow eoir_caller users with an active access time slot to update 'basic' Friend info"
## Background
Accompaniment volunteers with the eoir_caller permission level make sure that our Friends are kept up to date on the status of their postponed hearings and check-ins.  In the course of this work, it would be very helpful if they could also make updates to the information on the 'Basic' tab of the Friend record.

## Implementation
We want to add a new tab here (it should be the first

[2021-01-21 02:07] CZagrobelny commented on #374
Merged into master, thanks so much @ysimonson!!!!

[2021-01-21 02:07] #374 closed

[2021-01-21 02:19] #375 closed

[2021-01-31 18:25] CZagrobelny commented on #372
Merged and deployed!  🚀 Thank you so much, @lavaturtle!!!

[2021-01-31 18:25] #372 closed

[2021-03-27 13:16] CZagrobelny opened #382 "Remove email notification for lawyer assignments"
## Background
We're using the lawyer review functionality a bit differently than we planned when we initially built it and the notification emails to lawyers have lost their value.

## Implementation
This is the mailer that we want to remove (there will be accompanying html/text files to remove): https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/mailers/friendship_assignment_mail

[2021-03-27 13:32] CZagrobelny opened #383 "Bond Program Record Keeping Improvements"
## Background
The LIFE Bond Program works to bond people out of immigration detention. The anti-detention team have requested some changes to help improve record keeping.

## Implementation
Add an application category 'life_bond_fund' (this will allow admins to upload bond documentation to the Friend record): https://github.com/CZagrobelny/new_sanctuary_asylum/blob/master/app/models/application.rb

[2021-03-27 13:47] CZagrobelny opened #384 "Remove Social Work Referral Categories"
## Background
The social work team (who connects our Friends to resources for food, housing, medical, etc) has found that their process is streamlined when they rely on documentation in notes rather than the social work categories dropdown.

## Implementation
Remove the 'Social Work Categories' dropdown located on the Friend record, 'Other Case Info' tab in the 'Social Work Referrals' section: htt

[2021-03-29 23:04] #382 closed

[2021-03-29 23:29] #384 closed

[2021-03-30 00:02] #383 closed